body {
    height: 100vh;
    overflow: hidden;
    background: radial-gradient(circle, rgba(0,212,255,1) 0%, rgba(121,9,117,1) 82%);
    display: flex;
    justify-content: center;
    align-items: center;
    animation: gradient infinite linear 10s;
}

.content {
    width: 300px;
    aspect-ratio: 1;
    color: white;
    font-size: 24px;
    font-family: Arial, Helvetica, sans-serif;
}

@keyframes gradient {
    0% {
        background-size: 100%;
        background-position: 0%;
    }

    50% {
        background-size: 250%;
        background-position: 50%;
    }

    100% {
        background-size: 100%;
        background-position: 0%;
    }
}